p{
    color:3c3c3c;
}

a.wendylink{
    padding:0px 30px ;
    margin: 0px 0px 0px 10px;
    border-radius: 50px; 
    color: #213448;
}
a.wendylink:hover{
    background-color: #547792;
    color: white;
}

div.wendydivgrey{
    background-color: rgba(243, 243, 243, 0.201);
    padding: 30px;
    border-radius: 10px;
    border: 2px solid grey;
    width: 90%;
    margin:10px auto;
}

h4.wendysmallh4{
    font-size: 18px;
    color: rgb(47, 84, 153);
}

section#about.resume-section{
    background-color:#F2F2F2;
}

.wendycrop{
    height: 600px;
    overflow: hidden;
    object-fit: cover;
    margin: 10px 5px;
    border-radius: 10px;
}

.wendycallmebg{
    background-image: url("../assets/img/itsbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


.wendyserif {
  font-family: "Noto Serif TC", serif;
  font-optical-sizing: auto;
  font-weight:weight;
  font-style:normal;
}

.wendyhl{
    color: red;
    font-weight: 900;
}

.eng{
    color:#547792;
}


#backToTopBtn{
  position: fixed;
  bottom: 50px;
  right: 80px;
  z-index: 99;
  width: 50px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  text-decoration: none;
  box-shadow: 0 4px 6px rgb(115, 128, 163);
  background-color: #547792;
  border-color: #547792;
}

